body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

footer {
    flex-shrink: 0;
}

.product-detail-container {
    text-align: center;
}

.product-image {
    max-width: 400px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}